
/* src/App.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f1cee3;
  color: black;
}

.logo img {
  width: 120px;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li {
  color: white;
  margin-right: 20px;
  cursor: pointer;
}

/* Simon css*/

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  width: 20%;
  margin: 0 auto;
  padding: 100px;
}

.color {
  aspect-ratio: 1/1;
}

.color.color1 {
  background-color: #455eec;
}

.color.color2 {
  background-color: #f35c8e;
  border-top-left-radius: 7em 7em;
  border-top-right-radius: 7em 7em;
  border-bottom-right-radius: 7em 7em;

}

.color.color3 {
  background-color: #78ec5a;
  border-top-left-radius: 7em 7em;
  border-bottom-left-radius: 7em 7em;
  border-bottom-right-radius: 7em 7em;
}

.color.color4 {
  background-color: #a56eec;
  border-top-right-radius: 7em 7em;
  border-bottom-left-radius: 7em 7em;
  border-bottom-right-radius: 7em 7em;
}

/* Estilos para hacer la grilla responsiva */
@media (max-width: 500px) {
  .parent {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}


