
/* src/App.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000000;
  color: black;
}

.logo img {
  width: 140px;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li {
  color: white;
  margin-right: 20px;
  cursor: pointer;
}

/* Simon css*/

.Ruleta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 35%;
    margin: 0 auto;
    padding: 80px;
    position: relative; /* Añadido: posición relativa para el contenedor de la ruleta */
}
.color {
  aspect-ratio: 1/1;
}

.color.color1 {
  background-color: #213fea;
  border-top-left-radius: 25em 25em;
  border-width: 12px;
  border-style: solid;
  border-color: black;
}

.color.color2 {
  background-color: #eb2969;
  border-top-right-radius: 25em 25em;
  border-width: 12px;
  border-style: solid;
  border-color: black;

}

.color.color3 {
  background-color: #53ee2c;
  border-bottom-left-radius: 25em 25em;
  border-width: 12px;
  border-style: solid;
  border-color: black;
}

.color.color4 {
  background-color: #6b24c8;
  border-bottom-right-radius: 25em 25em;
  border-width: 12px;
  border-style: solid;
  border-color: black;
}

@media (max-width: 500px) {
  .parent {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
/* Botones css */
.boton {
  position: absolute;
  left: 50%; 
  top: 50%;
  transform: translate(-50%, -50%);
}

.Iniciar {
  background: black;
  display: flex;
  color: white;
  font-size: 3rem;
  border-radius: 10rem;
  width: 17rem;
  height: 17rem;
  text-align: center;
  line-height: 8rem;
  border-style: none;
}

.color.active {
  filter: brightness(2); /* Cambia el brillo del color cuando el botón está activo */
}