.App-header {
    background-image: url('https://previews.123rf.com/images/ksanagraphica/ksanagraphica1803/ksanagraphica180300467/97006185-patr%C3%B3n-de-rayos-sobre-fondo-blanco-en-estilo-c%C3%B3mic-ilustraci%C3%B3n-vectorial.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
  }
  
  /* Footer.css */

footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
