.App-header {
    background-image: url('https://img.freepik.com/vector-premium/pared-textura-blanca-fondo-gris-oscuro_664601-2399.jpg');
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);
  }
  
  /* Footer.css */

footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
